
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F5F9;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: 100%;
    margin-top: 1rem;
  }

  .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 418px;
    background-color: #FFFFFF;
  }

  .picture {
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .hero-img {
    height: 280px;
    border-radius: 10px 10px 0 0;
  }

  .upper h2 {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .upper h2, .upper p {
    padding: 0 2rem;
  }

  .upper p {
    margin: 1rem 0;
  }

  .lower {
    display: flex;
    gap: 1rem;
    width: 418px;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding: 1rem 2rem;
  }

  .lower .avatar img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #dcdddd;
  }

  .author .name {
    font-weight: bold;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    color: rgb(55, 65, 81);
    text-decoration: underline;
  }

  @media (min-width: 640px) {
    body {
      height: 100vh;
      display: grid;
      place-items: center;
    }
  }